    <div class="header">
        <img src="style/logo.png" height="40">
        <ul class="menu">
            <li><a href="index.php">Info</a></li>
            <li><a href="index.php">Main</a></li>
        </ul>
    </div>
